alphabet/graded_inc_dec
DeLeTe2/delete2_file
DeLeTe2/delete2_regex
DeLeTe2/delete2_static
NLstar_count_eq_queries/count_eq_queries
NLstar_count_eq_queries/count_eq_queries_file
NLstar_count_eq_queries/count_eq_queries_random
NLstar_table/learn_file
NLstar_table/learn_regex
NLstar_table/learn_static
RPNI/rpni_angluin_tester
RPNI/rpni_file
RPNI/rpni_regex
RPNI/rpni_static
algorithm_analysis/algorithm_analysis
angluin_col_table/learn_regex
angluin_col_table/learn_static
angluin_generic/learn_generic_L
angluin_generic/learn_generic_Lcol
angluin_generic/learn_generic_RV
angluin_simple_table/learn_file
angluin_simple_table/learn_regex
angluin_simple_table/learn_static
biermann/biermann_regex
biermann/biermann_static
biermann_original/learn_generic
biermann_original/learn_regex
conjecture/finite_automaton_from_file
kearns_vazirani/learn_file
kearns_vazirani/learn_regex
normalizer/normalizer
online_performance_tester/performance_test
rivest_schapire_table/learn_file
rivest_schapire_table/learn_regex
simple-example/learn_regex
statistics/stat
